<template>
  <div class='wiz-slider' :style="cssVars">
    <input type="range" :max="this.sliderProps.max" :step="this.sliderProps.step" :min="this.sliderProps.min"
    v-model="value" :style="{backgroundSize: backgroundLegth + '% 100%'}">
    <h1>{{value}}<span>%</span></h1>
  </div>
</template>

<script>
export default {
  name: 'wiz-slider',
  props: {
    sliderProps: {
      type: Object
    }
  },
  data() {
    return {
      value: this.sliderProps.value,
      isVisible: true     
    }
  },
  methods: {
    activate() {
		this.isVisible = true
	}
  },
  mounted() {
      return this.backgroundLegth
  },
  computed: {
    backgroundLegth() {
      if (this.value < this.sliderProps.step) {
        return this.sliderProps.step
      } else {
        return (this.value - this.sliderProps.min) * 100 / (this.sliderProps.max - this.sliderProps.min)
      }
    },
    cssVars() {
      return { '--custom-color': this.sliderProps.color }
    }
  }
};
</script>

<style scoped>
.wiz-slider {
  display: flex;
  --custom-color: green;
  height: 75px;
}
.wiz-slider input {
  margin: 55px 40px 0 0;
}

.wiz-slider h1 {
  font-size: 75px;
  font-weight: 700;
  color: var(--custom-color);
}
.wiz-slider span {
  font-size: 40px;
  font-weight: 400;
  color: var(--custom-color);
}

  input[type=range]:focus {
    outline: none;
}
  input[type="range"] {
    -webkit-appearance: none;
    width: 360px;
    height: 4px;
    background: #f1f2f3;
    background-image: linear-gradient(var(--custom-color), var(--custom-color));
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--custom-color);
  }

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--custom-color);
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--custom-color);
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--custom-color);
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: var(--custom-color);
  }

  input[type="range"]::-ms-thumb:hover {
    background: var(--custom-color);
  }

</style>
