@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	src: url("../media/fonts/OpenSans/OpenSans-Light.ttf");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	src: url("../media/fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 600;
	src: url("../media/fonts/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	src: url("../media/fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
	font-family: "Segoe UI";
	src: url("../media/fonts/SegoeUI/segoe-ui.ttf");
}
@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url("../media/fonts/Roboto/Roboto-Bold.ttf");
}