body {
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
}

#app {
	--pink: #F20069;
	--dark: #0A2D44;
	--blue: #0196DD;
	--gray: #E4EAEF;
	--light-gray: #FAFAFA;
	--green: #26B76F;
	--dark-blue: #0D85BE;
	--light-blue: #40ADC9;
	--dark-green: #14828E;
	--white: #FFFFFF;
	--yellow: #F3AC08;
	--main-font: 'Open Sans';
	color: var(--dark-blue);
}

#app.root,
#app #viewer {
	position: relative;
	width: 1024px;
	height: 768px;
	z-index: 1;
	background-color: var(--white);
	font: 14px/1.2 var(--main-font), sans-serif;
}
sup {
	font-size: 60%;
}
.wiz-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: var(--light-grey);
}

