<i18n>
    {
        "eng": {}
    }
</i18n>

<template>
  <wiz-root>
    <wiz-viewer>
      <header>
      <wiz-approval :approvalNumber="approvalNumber"></wiz-approval>
      </header>
      <footer>
      <wiz-navigation :chapters="chapters"></wiz-navigation>
      </footer>
    </wiz-viewer>
  </wiz-root>
</template>

<script>
import wizNavigation from './common/components/wiz-navigation/index.vue';
import wizApproval from './common/components/wiz-approval/index.vue'

export default {
  name: 'wiz-app',
  components: {
    wizNavigation,
    wizApproval
  },
  data() {
    return {
      chapters: this.$navigator.structure.chapters,
      approvalNumber: "GBL193487520-15.10.2020"
    };
  }
};
</script>

<style scoped>
@import 'common/styles/imports.css';
body {
  padding: 0;
  margin: 0;
}
.root {
  background-color: #fff;
}
</style>
