<i18n>
  {
    "eng": {
      "pageTitleFP": "Say",
      "pageTitleLP": "Yes",
      "pageSubtitle": "To heartburn<br>treatment"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <div class="page-content">
      <div class="page-title">
        <wiz-text  class="page-title-first-part" :text="$t('pageTitleFP')"></wiz-text>
        <wiz-text  class="page-title-last-part" :text="$t('pageTitleLP')"></wiz-text>
      </div>
      <wiz-text  class="page-subtitle" :text="$t('pageSubtitle')"></wiz-text>
      <div class="img-wrapper">
        <wiz-image class="img-item-left" src="./media/images/Homeslide-image2.png"></wiz-image>
        <wiz-image class="img-item-right" src="./media/images/Homeslide-image3.png"></wiz-image>
      </div>
    </div>
    <div class="aside-img">
      <wiz-image class="image" src="./media/images/Homeslide-image.png"></wiz-image>
    </div>
  </wiz-slide>
</template>

<script>
export default {};
</script>

<style scoped>
.page-title,
.page-subtitle,
.page-content {
  display: flex;
}

.wiz-slide {
  background-color: var(--white);
  justify-content: flex-end;
}

.page-content {
  flex-direction: column;
  margin-right: 30px;
}

.aside-img {
  height: 100%;
  width: 100%;
  max-width: 416px;
  overflow: hidden;
}

.wiz-image.image {
  height: 100%;
  width: auto;
}

.page-title {
  justify-content: center;
  margin-top: 50px;
  font-weight: 700;
  font-size: 130px;
}
.page-title-first-part{
  color: var(--blue);
  text-transform: uppercase;
}

.page-title-last-part {
  color: var(--pink);
  text-transform: uppercase;
}

.page-subtitle {
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 512px;
  height: 147px;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
}

.img-wrapper {
  position: relative;
  width: 477px;
  height: 315px;
}

.wiz-image.img-item-left,
.wiz-image.img-item-right {
  position: absolute;
}

.wiz-image.img-item-left {
  width: 365px;
  height: 208px;
  top: 40px;
  left: 20px;
}

.wiz-image.img-item-right {
  width: 400px;
  height: 208px;
  top: 146px;
  left: 95px;
}
</style>
