<i18n>
  {
    "eng": {
      "title": "<b>Which of the medications</b> do you prefer in therapy?",
      "subtitle": "Move the colored sliders to determine the priority specified preparations",
      "itemName1": "Lansoprazolum",
      "itemName2": "Scopolamint<sup>&reg;</sup>",
      "itemName3": "Pantoprazolum",
      "itemName4": "Omeprazole/<br>Esomeprazolum",
      "button1": "Scopolamint scheme",
      "button2": "Pantoprazolum scheme",
      "popupTitle": "Active substance<br>detalization",
      "bDiagram1": "Dimethyl",
      "bDiagram2": "Rabeprazole sulfone",
      "bDiagram3": "Non-enzymatic<br>metabolism",
      "bDiagram4": "Rabeprazole<br>thioester",
      "yDiagram1": "Pantoprazole sulfide",
      "yDiagram2": "Dimethyl Pantoprazole",
      "yDiagram3": "Pantoprazole sulfone",
      "yDiagram4": "Pantoprazole sulfate"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <div class="page-content">
      <wiz-text class="page-title" :text="$t('title')"></wiz-text>
      <wiz-text class="page-subtitle" :text="$t('subtitle')"></wiz-text>
      <div class="ranges">
        <div class="range-item">
          <wiz-text class="renge-item-lebel" :text="$t('itemName1')"></wiz-text>
          <wiz-slider :sliderProps="sliderProps1"></wiz-slider>
        </div>
        <div class="range-item">
          <wiz-text class="renge-item-lebel" :text="$t('itemName2')"></wiz-text>
          <wiz-slider :sliderProps="sliderProps2"></wiz-slider>
        </div>
        <div class="range-item">
          <wiz-text class="renge-item-lebel" :text="$t('itemName3')"></wiz-text>
          <wiz-slider :sliderProps="sliderProps3"></wiz-slider>
        </div>
        <div class="range-item">
          <wiz-text class="renge-item-lebel" :text="$t('itemName4')"></wiz-text>
          <wiz-slider :sliderProps="sliderProps4"></wiz-slider>
        </div>
          <div class="button-group">
            <wiz-button class="button-blue" :text="$t('button1')" v-open.popup="'activSubst1'"></wiz-button>
            <wiz-button class="button-yellow" :text="$t('button2')" v-open.popup="'activSubst2'"></wiz-button>
          </div>
        <wiz-popup class="popup" id="activSubst1">
          <div class="popup-content-wrapper">
            <div class="popup-content-description">
              <wiz-text class="poup-title" :text="$t('popupTitle')"></wiz-text>
              <wiz-text class="description-item blue first" :text="$t('itemName2')"></wiz-text>
              <wiz-text class="description-item blue" :text="$t('itemName1')"></wiz-text>
              <wiz-text class="description-item blue" :text="$t('itemName3')"></wiz-text>
              <wiz-text class="description-item blue" :text="$t('itemName4')"></wiz-text>
              </div>
                <div class="diagram-subst-1">
                <div class="scopolamint">
                  <wiz-text class="diagram-text blue bg-blue main" :text="$t('itemName2')"></wiz-text>
                </div>
                <div class="dimethil">
                  <wiz-text class="diagram-text blue bg-blue" :text="$t('bDiagram1')"></wiz-text>
                </div>
                <div class="rabepsalon">
                  <wiz-text class="diagram-text blue bg-blue" :text="$t('bDiagram2')"></wiz-text>
                </div>
                <div class="metabolism">
                  <wiz-text class="diagram-text blue bg-blue" :text="$t('bDiagram3')"></wiz-text>
                </div>
                <div class="thioester">
                  <wiz-text class="diagram-text blue bg-blue" :text="$t('bDiagram4')"></wiz-text>
                </div>
                <div class="left-arrow">
                  <wiz-image class="side-arrow" src="./media/images/leftArrow.png"></wiz-image>
                </div>
                <div class="right-arrow">
                  <wiz-image class="side-arrow" src="./media/images/rightArrow.png">
                </div>
                <div class="rect-line">
                  <wiz-image class="line-image" src="./media/images/rectLine.png"></wiz-image>
                </div>
                <div class="bottom-arrow">
                  <wiz-image class="rectAarrow-image" src="./media/images/bottomArrow.png"></wiz-image>
              </div>
            </div>
          </div>
          
        </wiz-popup>
        <wiz-popup class="popup" id="activSubst2">
          <div class="popup-content-wrapper">
            <div class="popup-content-description">
              <wiz-text class="poup-title" :text="$t('popupTitle')"></wiz-text>
              <wiz-text class="description-item yellow" :text="$t('itemName2')"></wiz-text>
              <wiz-text class="description-item yellow" :text="$t('itemName1')"></wiz-text>
              <wiz-text class="description-item yellow first" :text="$t('itemName3')"></wiz-text>
              <wiz-text class="description-item yellow" :text="$t('itemName4')"></wiz-text>
            </div>
            <div class="diagram-subst-2">
              <div class="pantprazol">
                <wiz-text class="diagram-text yellow bg-yellow" :text="$t('yDiagram1')"></wiz-text>
              </div>
              <div class="pantoprazolum">
                <wiz-text class="diagram-text yellow bg-yellow main" :text="$t('itemName3')"></wiz-text>
              </div>
              <div class="DmetPantoprazol">
                <wiz-text class="diagram-text yellow bg-yellow" :text="$t('yDiagram2')"></wiz-text>
              </div>
              <div class="pantoprazolSulf">
                <wiz-text class="diagram-text yellow bg-yellow" :text="$t('yDiagram3')"></wiz-text>
              </div>
              <div class="sulfat">
                <wiz-text class="diagram-text yellow bg-yellow" :text="$t('yDiagram4')"></wiz-text>
              </div>
              <div class="up-arrow">
                <wiz-image class="rectAarrow-image" src="./media/images/bottomArrow.png">
              </div>
              <div class="left-arrow">
                <wiz-image class="side-arrow" src="./media/images/leftArrow.png"></wiz-image>
              </div>
              <div class="right-arrow">
                <wiz-image class="side-arrow" src="./media/images/rightArrow.png">
              </div>
              <div class="bottom-arrow">
                <wiz-image class="rectAarrow-image" src="./media/images/bottomArrow.png"></wiz-image>
              </div>
              </div>
          </div>
        </wiz-popup>
      </div>
    </div>
  </wiz-slide>
</template>
<script>

import wizSlider from '../../common/components/wiz-slider/index.vue';
import wizPopup from 'wiz-popup';

export default {
  components: {
    wizSlider,
    wizPopup
  },
  data() {
    return {
      sliderProps1: { min: 0, max: 100, step: 1, value: 50, color: '#14828E' },
      sliderProps2: { min: 0, max: 100, step: 1, value: 7, color: '#0196DD' },
      sliderProps3: { min: 0, max: 100, step: 1, value: 100, color: '#F3AC08' },
      sliderProps4: { min: 0, max: 100, step: 1, value: 12, color: '#26B76F' }
    }
  }
};
</script>

<style scoped>
.page-title {
  font-size: 40px;
  font-weight: 300;
  color: var(--blue);
  margin: 45px 0 0 42px;
}
.page-subtitle {
  font-size: 22px;
  font-weight: 400;
  color: var(--dark);
  margin: 30px 0 0 46px;
}

.ranges {
  margin: 68px 0 0 80px;
}
.range-item,
.renge-item-lebel,
.button-group {
  display: flex;
  align-items: center;
}

.range-item {
  margin-bottom: 54px;
}

.range-item:last-child {
  margin-bottom: 0;
}
.renge-item-lebel {
  width: 343px;
  font-size: 32px;
  font-weight: 600;
  color: var(--dark);
}
.wiz-slider {
  margin-top: -22px;
}

.wiz-button.button-blue,
.wiz-button.button-yellow {
  width: auto;
  height: 39px;
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  margin-top: -30px;
}

.wiz-button.button-blue {
  background-color: var(--blue);
  margin-right: 30px;
}

.wiz-button.button-yellow {
  background-color: var(--yellow);
}
.wiz-popup.popup-content {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    background: #fff;
}
.popup-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 827px;
  height: 430px;
  margin: 60px auto;
}
.poup-title {
  font-size: 41px;
  font-weight: 600;
  font-stretch: condensed;
  margin-bottom: 30px;
  color: var(--dark);
}
.description-item {
  font-size: 21px;
  font-weight: 300;
  font-stretch: ultra-condensed;
  color: var(--blue);
  margin-bottom: 20px;
}

.blue {
  color: var(--blue);
}
.yellow {
  color: var(--yellow);
}
.description-item.first {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  font-stretch: condensed;
}

.diagram-subst-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". left-arrow scopolamint scopolamint scopolamint right-arrow ." ". left-arrow . rect-line . right-arrow ." "dimethil dimethil dimethil rect-line rabepsalon rabepsalon rabepsalon" ". . . rect-line . . ." ". . metabolism metabolism metabolism . ." ". . . bottom-arrow . . ." ". . thioester thioester thioester . .";
}

.scopolamint { grid-area: scopolamint; }

.dimethil { grid-area: dimethil; }

.rabepsalon { grid-area: rabepsalon; }

.metabolism { grid-area: metabolism; }

.thioester { grid-area: thioester; }

.left-arrow { 
  grid-area: left-arrow;
  margin-left: auto;
}

.right-arrow { grid-area: right-arrow; }

.rect-line { 
  grid-area: rect-line;
  margin: 0 auto;
}

.bottom-arrow { 
  grid-area: bottom-arrow;
  margin: 0 auto;  
}

.diagram-subst-2 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . pantprazol pantprazol pantprazol . ."
    ". . . up-arrow . . ."
    ". left-arrow pantoprazolum pantoprazolum pantoprazolum right-arrow ."
    ". left-arrow . . . right-arrow ."
    "DmetPantoprazol DmetPantoprazol DmetPantoprazol . pantoprazolSulf pantoprazolSulf pantoprazolSulf"
    ". bottom-arrow . . . . ."
    "sulfat sulfat sulfat . . . ."; 
}
.pantprazol { grid-area: pantprazol; }
.pantoprazolum { grid-area: pantoprazolum; }
.DmetPantoprazol { grid-area: DmetPantoprazol; }
.pantoprazolSulf { grid-area: pantoprazolSulf; }
.sulfat { grid-area: sulfat; }
.up-arrow { grid-area: up-arrow; }
.left-arrow { grid-area: left-arrow; }
.right-arrow { grid-area: right-arrow; }
.bottom-arrow { grid-area: bottom-arrow; }

.diagram-text {
  text-align: center;
  color: var(--white);
  font-size: 21px;
  font-weight: 400;
  padding: 10px;
}
.diagram-text.bg-blue {
  background-color: var(--blue);
}
.diagram-text.bg-yellow {
  background-color: var(--yellow);
}
.diagram-text.main {
  font-size: 30px;
}

.wiz-image.side-arrow {
  margin-top: 20px;
  width: 40px;
  height: 80px;
}
.wiz-image.line-image {
  width: 1px;
  height: 160px;
}
.wiz-image.rectAarrow-image {
  width: 5px;
  height: 65px;
}


</style>