<template>
  <div class='wiz-navigation' v-if="this.activeChapter !== 'home'">
    <wiz-image class="home-button" src="../../media/images/Home_icon.png"
    @click="goToCapter('homeslide', 'home')"></wiz-image>
    <span class="button" @click="goPrevSlide()"
    :class="{disabled : this.currentSlideIndex <= 0 }">&lt;</span>
    <div class='wiz-charter-menu'>
        <wiz-button class="chapter-button"
        v-for="chapter in chapters" :key="chapter.name.toLowerCase()"
        :class="{ active: isActiveChapter(chapter.name.toLowerCase())}"
        @click="goToCapter(chapter.content[0], chapter.name.toLowerCase())"
        :text="chapter.name.toUpperCase()"></wiz-button>
    </div>
    <span class="button" @click="goNextSlide()"
    :class="{disabled : this.currentSlideIndex >= (this.$navigator.structure.slideIterator.items.length - 1) }" >&gt;</span>
        <span class="devider">|</span>
        <wiz-image class="structure" src="../../media/images/Structure_icon.png"
        @click="isSitemapOpened=true"></wiz-image>
        <wiz-image class="references" src="../../media/images/References_icon.png"
        v-open.popup="'popup'"></wiz-image>
        <wiz-image class="logo" src="../../media/images/logo.png"></wiz-image>
        <wiz-sitemap :is-sitemap-opened="isSitemapOpened"
        :divide-by-chapters="divideSitemapByChapters"
        :show-close-button="showCloseButton"
        :close-icon="closeIcon"
        @close-sitemap="isSitemapOpened=false"></wiz-sitemap>
        <wiz-popup id="popup">
          <wiz-text class="refTitle" text="References"></wiz-text>
          <ol class="refList">
            <li class="refItem" v-for="referece in references" :key="referece.name">
              <wiz-text :text="referece.name"></wiz-text>
            </li>
          </ol>
        </wiz-popup>
  </div>
</template>

<script>
import wizPopup from 'wiz-popup'
export default {
  name: 'wiz-navigation',
  components: {
    wizPopup
  },
  props: {
    chapters: {
      type: Object,
    },
  },
  data() {
    return {
      showCloseButton: true,
      divideSitemapByChapters: false,
      isSitemapOpened: false,
      closeIcon: "../common/media/images/Grey_close_x.png",
      references: this.$references.references,
      isVisible: false
    };
  },
  
  methods: {
    activate() {
		this.isVisible = true
	},
    isActiveChapter(chapterItem) {
      return this.activeChapter === chapterItem;
    },
    goToCapter(slideName, chapterName) {
      let options = {
                slide: slideName,
                chapter: chapterName,
            };
           this.$navigator.goTo(options);
    },
    goPrevSlide() {
      if(this.currentSlideIndex > 0)
      this.$navigator.goToPrevSlide();
    },
    goNextSlide() {
      if(this.currentSlideIndex < this.$navigator.structure.slideIterator.items.length - 1)
      this.$navigator.goToNextSlide();
    },
  },
  computed: {
    activeChapter: {
      get() {
        return this.$navigator.getCurrentSlide().chapter;
      },
      set(chapterItem) {
        this.activeChapter = chapterItem;
      }
    },
    currentSlideIndex: {
      get() {
        return this.$navigator.structure.slideIterator.items.indexOf(this.$navigator.getCurrentSlide().slide); 
      },
    }
  },
};
</script>

<style scoped>
    .wiz-navigation {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      height: 71px;
      background-color: white;
      width: 100%;
      max-width: 1024px;
      color: #8495a1;
    }
    .wiz-charter-menu {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 400px;
      font-size: 17px;
      font-weight: 900;
      background: transparent;
    }
    .wiz-button.chapter-button {
      width: auto;
      background-color: var(--white);
    }
    .active {
      color:#2f2f30;
    }
    .button {
      display: flex;
      align-items: center;
      font-size: 50px;
      font-weight: 400;
      transform: scale(.5, 1);
      color:#8495a1;
      cursor: pointer;
      margin: 0 12px 0;
    }
    .disabled {
      color: var(--gray);
      cursor: none;
    }
    .devider {
      font-size: 35px;
      font-weight: 300;
      line-height: 35px;
      margin: 0 23px 7px 23px;
    }
    .wiz-image.home-button {
      height: 40px;
      width: 40px;
      margin-left: 41px;
    }
    .wiz-image.structure {
      height: 20px;
      width: 20px;
      margin-left: 20px;
    }
    .wiz-image.references {
      height: 13px;
      width: 10px;
      margin-left: 20px;
    }
    .wiz-image.logo {
      height: 42px;
      width: 140px;
      margin-bottom: 5px;
      margin-left: 114px;
    }
    .refTitle {
      margin: 30px 0px 0px 30px;
      font-size: 32px;
      font-weight: 600;
      color: var(--dark);
    }
    .refList {
      margin: 20px 30px 0 5px;
    }
    .refItem {
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 400;
      color: var(--dark);
    }
</style>
