<i18n>
  {
    "eng": {
      "title": "<b>Scopolamint</b><sup>&reg</sup> — number 1 in NERD treatment",
      "recomendation1": "<b>Proton pump inhibitors</b><br>(Scopolamint<sup>&reg;</sup>)<br>are the best choice for patients with NERD<sup>1</sup>",
      "recomendation2": "<b>Treatment of NERD</b><br>with Scopolamint<sup>&reg;</sup> is well tolerated<sup>2,3</sup>",
      "recomendation3": "<b>Scopolamint</b><sup>&reg;</sup> relieves heartburn symptoms"
    }
  }
</i18n>

<template>
  <wiz-slide>
    <div class="page-content">
      <wiz-text class="page-title" :text="$t('title')"></wiz-text>
      <div class="description">
          <wiz-text  class="description-item" :text="$t('recomendation1')"></wiz-text>
          <wiz-text  class="description-item" :text="$t('recomendation2')"></wiz-text>
          <wiz-text  class="description-item" :text="$t('recomendation3')"></wiz-text>
      </div>
      <wiz-image class="image" src="./media/images/Safety-image.png"></wiz-image>
    </div>
  </wiz-slide>
</template>
<script>
export default {};
</script>
<style scoped>
.page-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.page-title {
  margin: 44px 40px 0 40px;
  font-size: 40px;
  font-weight: 300;
  color: var(--blue);

}
.description {
  margin: 80px 0 0 40px;
  border-left: solid 4px #f1f2f3;
  border-top: solid 4px #f1f2f3;
  border-bottom: solid 4px #f1f2f3;
}
.description-item {
  max-width: 400px;
  margin: 25px 0 34px 32px;
  font-size: 32px;
  color: var(--dark);
}
.wiz-image.image{
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  height: 100%;
  width: 512px;
}
</style>
