<i18n>
  {
    "eng": {
      "name": "Leonard",
      "age": "40 years old",
      "badHabit1": "Has untreated stress",
      "badHabit2": "Smokes.",
      "badHabit3": "Eats spicy foods",
      "badHabit4": "Has a family history of peptic ulcer disease",
      "anamnesis1": "Complains of an upper abdominal pain, heartburn, nausea and sometimes vomiting",
      "anamnesis2": "He was using Synflex (naproxen) to relieve pain from past 2 days, but no significant effect",
      "anamnesis3": "Pain aggravated at night after taking large meal",
      "diagnosisTitle": "Preliminary diagnosis:",
      "diagnosis": "Peptic ulcer"

    }
  }
</i18n>

<template>
  <wiz-slide>
    <div class="page-content">
      <div class="page-title">
        <wiz-text  class="page-title" :text="$t('name')"></wiz-text>
        <wiz-text  class="page-subtitle" :text="$t('age')"></wiz-text>
      </div>
      <div class="description">
        <wiz-text  class="description-item" :text="$t('badHabit1')"></wiz-text>
        <wiz-text  class="description-item" :text="$t('badHabit2')"></wiz-text>
        <wiz-text  class="description-item" :text="$t('badHabit3')"></wiz-text>
        <wiz-text  class="description-item" :text="$t('badHabit4')"></wiz-text>
      </div>
      <div class="page-list">
        <div class="page-list-item">
          <wiz-image class="page-list-marker" src="./media/images/list-marker.png"></wiz-image>
          <wiz-text  class="page-list-text" :text="$t('anamnesis1')"></wiz-text>
        </div>
        <div class="page-list-item">
          <wiz-image class="page-list-marker" src="./media/images/list-marker.png"></wiz-image>
          <wiz-text  class="page-list-text" :text="$t('anamnesis2')"></wiz-text>
        </div>
        <div class="page-list-item">
          <wiz-image class="page-list-marker" src="./media/images/list-marker.png"></wiz-image>
          <wiz-text  class="page-list-text" :text="$t('anamnesis3')"></wiz-text>
        </div>
      </div>
      <div class="page-label">
        <wiz-image class="page-label-marker" src="./media/images/med-marker.png"></wiz-image>
        <div class="page-label-text">
          <wiz-text  class="page-label-title" :text="$t('diagnosisTitle')"></wiz-text>
          <wiz-text  class="page-label-main" :text="$t('diagnosis')"></wiz-text>
        </div>
      </div>
    </div>
    <div class="aside-img">
      <wiz-image class="image" src="./media/images/Efficacy-image.png"></wiz-image>
    </div>
  </wiz-slide>
</template>

<script>
export default {};
</script>

<style scoped>

.wiz-slide {
  justify-content: flex-end;
}

.page-content {
  width: 100%;
  margin-left: 45px;
}

.aside-img {
  height: 100%;
  width: 100%;
  max-width: 416px;
  overflow: hidden;
}

.wiz-image.image {
  height: 100%;
  width: auto;
}

.page-title {
  margin-top: 48px;
  font-weight: 700;
  font-size: 90px;
  color: var(--blue);
}

.page-subtitle {
  margin-top: 5px;
  font-weight: 600;
  font-size: 32px;
  color: var(--dark);
}

.description {
  margin-top: 12px;
  padding-bottom: 12px;
  max-width: 318px;
  border-bottom: solid 4px var(--blue);
}

.description-item,
.page-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);
}

.page-list {
  margin-top: 45px;
}

.page-list-item {
  display: flex;
  margin-top: 12px;
}

.wiz-image.page-list-marker {
  margin: -3px 10px 0 0;
  width: 32px;
  height: 32px;
}

.page-list-text {
  max-width: 510px;
}

.page-label {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.wiz-image.page-label-marker {
  width: 40px;
  height: 40px;
  margin: 0 30px 0 3px;
}
.page-label-title,
.page-label-main{
  color: var(--dark);
}
.page-label-title {
  font-weight: 400;
  font-size: 24px;
}
.page-label-main {
  margin-top: 5px;
  font-weight: 600;
  font-size: 32px;
}

</style>
