<template>
  <div class='wiz-approval'>
    <wiz-text :text="this.approvalNumber">{{getApproval}}</wiz-text>
  </div>
</template>

<script>
export default {
  name: 'wiz-approval',
  props: {
    approvalNumber: {
      type: String
    }
  },
  data() {
    return {
      isVisible: false
    }
  },
  methods: {
    activate() {
		this.isVisible = true
	},
    getApproval(){
      return this.approvalNumber;
    }
  }
};
</script>

<style scoped>
.wiz-approval {
  position: absolute;
  top: 433px;
  left: -47px;
  transform: rotate(-90deg);
  font-family: "Segoe UI";
  font-size: 10px;
  color: #707070;
}


</style>
